<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <akka>
    <hocon>
      <![CDATA[
      
        sm {
							actorsystem: "instamass" #POPULATE NAME OF YOUR ACTOR SYSTEM HERE
						}

      
          akka {
            #loglevel = DEBUG
            
            actor {
                     provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                 }
          
          remote {
            helios.tcp {
              hostname = "127.0.0.1"
              port = 5555
            }
          }            

          cluster {
              seed-nodes = ["akka.tcp://instamass@127.0.0.1:4053"]
              roles = [TestClient]
          }
                            
          }
      ]]>
    </hocon>
  </akka>
  
  
</configuration>
