<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <akka>
    <hocon>
      <![CDATA[
      
        sm {
							actorsystem: "instamass" #POPULATE NAME OF YOUR ACTOR SYSTEM HERE
						}

      
          akka {
            loglevel = DEBUG
            
           
    
            
            loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
            
            actor {
                      provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                      serializers {
                        hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
                      }
            
                      serialization-bindings {
                        "System.Object" = hyperion
                      }
                 }
          
          remote {
            helios.tcp {
              hostname = "127.0.0.1"
              port = 6666
            }
          }            

          cluster {
              seed-nodes = ["akka.tcp://instamass@127.0.0.1:4053"]
              roles = [persistence]
          }
          
          cluster.sharding {
            role = "persistence"
          }
          
          
          persistence{
	journal {
		plugin = "akka.persistence.journal.postgresql"
		postgresql {
			# qualified type name of the PostgreSql persistence journal actor
			class = "Akka.Persistence.PostgreSql.Journal.PostgreSqlJournal, Akka.Persistence.PostgreSql"

			# dispatcher used to drive journal actor
			plugin-dispatcher = "akka.actor.default-dispatcher"

			# connection string used for database access
			connection-string = "server=localhost;port=5432;database=akka;username=postgres;password=postgres"

			# default SQL commands timeout
			connection-timeout = 30s

			# PostgreSql schema name to table corresponding with persistent journal
			schema-name = public

			# PostgreSql table corresponding with persistent journal
			table-name = event_journal

			# should corresponding journal table be initialized automatically
			auto-initialize = on
			
			# timestamp provider used for generation of journal entries timestamps
			timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
		
			# metadata table
			metadata-table-name = metadata

			# defines column db type used to store payload. Available option: BYTEA (default), JSON, JSONB
			stored-as = BYTEA
		}
	}

	snapshot-store {
		plugin = "akka.persistence.snapshot-store.postgresql"
		postgresql {
			# qualified type name of the PostgreSql persistence journal actor
			class = "Akka.Persistence.PostgreSql.Snapshot.PostgreSqlSnapshotStore, Akka.Persistence.PostgreSql"

			# dispatcher used to drive journal actor
			plugin-dispatcher = ""akka.actor.default-dispatcher""

			# connection string used for database access
			connection-string = "server=localhost;port=5432;database=akka;username=postgres;password=postgres"

			# default SQL commands timeout
			connection-timeout = 30s

			# PostgreSql schema name to table corresponding with persistent journal
			schema-name = public

			# PostgreSql table corresponding with persistent journal
			table-name = snapshot_store

			# should corresponding journal table be initialized automatically
			auto-initialize = on
			
			# defines column db type used to store payload. Available option: BYTEA (default), JSON, JSONB
			stored-as = BYTEA
		}
	}
}
                                      
          }
      ]]>
    </hocon>
  </akka>
  
  
</configuration>
